@import url("https://fonts.googleapis.com/css?family=Archivo:400,700");
html {
  font-size: 16px;
  font-family: serif, sans-serif;
}
html a {
  color: black;
  text-decoration: none;
  font-family: serif, sans-serif;
}
html .fullsection {
  width: 100%;
}
html .halfsection {
  width: 60%;
  padding: 2rem 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html aside {
  width: 40%;
}
html h1, html h2, html h3 {
  font-family: "Archivo", sans-serif;
}
html header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 4rem;
  padding: 0 0.5rem 0 1.5rem;
}
html header a {
  height: 100%;
}
html header a img {
  height: 100%;
}
html header p {
  font-size: 1.5rem;
  font-weight: bold;
}
html header p span {
  color: gray;
}
html header .mobile-version {
  display: none;
}
html header .desktop-version {
  margin-right: 0;
  margin-left: auto;
  height: 100%;
}
html header .desktop-version ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
html header .desktop-version ul li {
  height: 100%;
  font-size: 1.35rem;
  -webkit-transition: background-color 120ms ease-out font-weight 120ms ease-out;
  -o-transition: background-color 120ms ease-out font-weight 120ms ease-out;
  transition: background-color 120ms ease-out font-weight 120ms ease-out;
}
html header .desktop-version ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 1rem;
}
html header .desktop-version ul li a:hover {
  background-color: gainsboro;
  font-weight: bold;
}
html main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
html main #banner-section {
  background-color: Gainsboro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 2rem;
}
html main #banner-section img {
  width: 60%;
  height: auto;
}
html main #banner-section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  height: 70%;
  padding-left: 2rem;
}
html main #banner-section div h1 {
  font-size: 3rem;
  font-weight: Bold;
  width: 90%;
  color: #222;
  padding-bottom: 1rem;
}
html main #banner-section div p {
  font-size: 2rem;
  font-weight: bold;
  width: 90%;
  color: #444;
  padding-bottom: 1rem;
}
html main #banner-section div span {
  display: block;
  font-weight: bold;
  padding: 8px;
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #222;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  -webkit-transition: color 200ms ease-out, background-color 200ms ease-out, border 120ms ease-out;
  -o-transition: color 200ms ease-out, background-color 200ms ease-out, border 120ms ease-out;
  transition: color 200ms ease-out, background-color 200ms ease-out, border 120ms ease-out;
}
html main #banner-section div span:hover {
  color: #222;
  background-color: white;
}
html main #promotion-section {
  line-height: 1.3;
}
html main #promotion-section img {
  width: 100%;
}
html main #promotion-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem 0 1.5rem 0;
}
html main #promotion-section .author {
  padding: 1.5rem 0 2rem 0;
}
html main #promotion-aside {
  border-left: 1px solid gainsboro;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 2rem;
  line-height: 1.3;
}
html main #promotion-aside .mobile-version {
  display: none;
}
html main #promotion-aside article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0 1rem 1rem;
}
html main #promotion-aside article a {
  width: 35%;
}
html main #promotion-aside article a img {
  width: 100%;
}
html main #promotion-aside article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 65%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1.5rem;
}
html main #promotion-aside article div h3 {
  font-size: 1.5rem;
  font-weight: bold;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
html main #promotion-aside article div p {
  padding-top: 0.75rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
html main #promotion-aside article div a {
  padding-top: 0.75rem;
  color: CornflowerBlue;
}
html main #promotion-aside #article-1 {
  border-bottom: 1px solid gainsboro;
  -webkit-transition: background-color 200ms ease-out, color 200ms ease-out;
  -o-transition: background-color 200ms ease-out, color 200ms ease-out;
  transition: background-color 200ms ease-out, color 200ms ease-out;
}
html main #promotion-aside #article-2 {
  padding: 1rem 0 1rem 1rem;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  margin-top: 1px;
  -webkit-transition: background-color 200ms ease-out, color 200ms ease-out;
  -o-transition: background-color 200ms ease-out, color 200ms ease-out;
  transition: background-color 200ms ease-out, color 200ms ease-out;
}
html main #promotion-aside #article-3 {
  padding: 1rem 0 1rem 1rem;
  background-color: Gainsboro;
  margin-top: 1px;
  -webkit-transition: background-color 200ms ease-out, color 200ms ease-out;
  -o-transition: background-color 200ms ease-out, color 200ms ease-out;
  transition: background-color 200ms ease-out, color 200ms ease-out;
}
html main #promotion-aside #article-1:hover, html main #promotion-aside #article-2:hover, html main #promotion-aside #article-3:hover {
  background-color: #333;
  color: white;
}
html main #course-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EEE;
  line-height: 1.3;
}
html main #course-section h2 {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem;
}
html main #course-section #course-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 4rem 2rem 4rem;
}
html main #course-section #course-container .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1rem;
}
html main #course-section #course-container .row a {
  width: 28%;
}
html main #course-section #course-container .row a article {
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transition: background-color 200ms ease-out, color 200ms ease-out;
  -o-transition: background-color 200ms ease-out, color 200ms ease-out;
  transition: background-color 200ms ease-out, color 200ms ease-out;
}
html main #course-section #course-container .row a article img {
  width: 100%;
}
html main #course-section #course-container .row a article h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0 0.5rem 1rem;
}
html main #course-section #course-container .row a article p {
  padding: 0 0 1.5rem 1rem;
  color: #555;
}
html main #course-section #course-container .row a article p span {
  display: inline-block;
  padding-bottom: 0.5rem;
}
html main #course-section #course-container .row a article:hover {
  background-color: #333;
}
html main #course-section #course-container .row a article:hover > p, html main #course-section #course-container .row a article:hover > h3 {
  color: white;
}
html main #end-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.3;
}
html main #end-section h2 {
  font-size: 2.5rem;
  padding: 2rem;
  font-weight: bold;
}
html main #end-section #end-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2rem;
}
html main #end-section #end-container div {
  width: 60%;
  padding-left: 1.5rem;
}
html main #end-section #end-container div video {
  width: 100%;
  padding-bottom: 1.5rem;
}
html main #end-section #end-container div h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
html main #end-section #end-container div p {
  color: #555;
  -webkit-transition: color 200ms ease-out;
  -o-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
}
html main #end-section #end-container aside {
  padding-left: 1.5rem;
}
html main #end-section #end-container aside article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0 1rem 1rem;
}
html main #end-section #end-container aside article img {
  width: 35%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
html main #end-section #end-container aside article div {
  width: 65%;
}
html main #end-section #end-container aside #end-article-1 {
  background-color: gainsboro;
  -webkit-transition: background-color 200ms ease-out, color 200ms ease-out;
  -o-transition: background-color 200ms ease-out, color 200ms ease-out;
  transition: background-color 200ms ease-out, color 200ms ease-out;
}
html main #end-section #end-container aside #end-article-1:hover {
  background-color: #333;
}
html main #end-section #end-container aside article:hover {
  background-color: #333;
  color: white;
}
html main #end-section #end-container aside article:hover > div p {
  color: white;
}
html footer {
  border-top: 1px solid gainsboro;
  padding: 1rem 1.5rem 5rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.85rem;
  color: #555;
}
html footer ul {
  margin-right: 0;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html footer ul li {
  margin-left: 1rem;
}
html footer ul li a {
  color: #555;
}

@media only screen and (max-width: 855px) {
  html header {
    padding: 0;
  }
  html header p {
    display: none;
  }
  html header a {
    -webkit-transition: background-color 120ms ease-out;
    -o-transition: background-color 120ms ease-out;
    transition: background-color 120ms ease-out;
  }
  html header a img {
    height: 75%;
  }
  html header a:hover {
    background-color: gainsboro;
  }
  html header #logo {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html header .desktop-version {
    display: none;
  }
  html header .mobile-version {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 75%;
  }
  html header .mobile-version a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 33.3%;
    -webkit-transition: background-color 120ms ease-out;
    -o-transition: background-color 120ms ease-out;
    transition: background-color 120ms ease-out;
  }
  html header .mobile-version a:hover {
    background-color: gainsboro;
  }
  html main #banner-section {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html main #banner-section img {
    width: 100%;
  }
  html main #banner-section div {
    padding-left: 0;
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html main #banner-section div h1 {
    width: 100%;
    padding-bottom: 2rem;
  }
  html main #banner-section div p {
    width: 100%;
    padding-bottom: 1.5rem;
  }
  html main #banner-section div a {
    width: 100%;
  }
  html main #banner-section div a span {
    width: 100%;
  }
  html main #promotion-section {
    display: none;
  }
  html main #promotion-aside {
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
  }
  html main #promotion-aside .desktop-version {
    display: none;
  }
  html main #promotion-aside .mobile-version {
    display: block;
  }
  html main #promotion-aside #article-1, html main #promotion-aside #article-2, html main #promotion-aside #article-3 {
    padding: 0;
    background-color: white;
    margin: 0;
    border: none;
  }
  html main #promotion-aside article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html main #promotion-aside article a {
    width: 100%;
  }
  html main #promotion-aside article div {
    width: 100%;
    padding: 2rem 1rem;
  }
  html main #course-section {
    background-color: white;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
  }
  html main #course-section h2 {
    padding: 2rem 0 0 0;
  }
  html main #course-section #course-container {
    padding: 1rem 1rem 2rem 1rem;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html main #course-section #course-container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  html main #course-section #course-container .row a {
    width: 100%;
  }
  html main #course-section #course-container .row a article {
    background-color: gainsboro;
    margin-bottom: 0.5rem;
  }
  html main #course-section #course-container .row a article img {
    display: none;
  }
  html main #course-section #course-container .row a article h3 {
    padding: 2rem 1rem;
  }
  html main #course-section #course-container .row a article p {
    display: none;
  }
  html main #end-section h2 {
    padding: 2rem 0 1rem 0;
  }
  html main #end-section #end-container {
    padding-bottom: 0;
  }
  html main #end-section #end-container div {
    padding-left: 0;
    width: 100%;
  }
  html main #end-section #end-container div h3, html main #end-section #end-container div p {
    display: none;
  }
  html main #end-section #end-container aside {
    display: none;
  }
  html footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 0 2rem 0;
  }
  html footer ul {
    display: none;
  }
}
/* no-flexbox */
.no-flexbox header p {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  bottom: 20px;
}
.no-flexbox header a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.no-flexbox header .desktop-version {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
}
.no-flexbox header .desktop-version ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.no-flexbox header .desktop-version ul li {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.no-flexbox header .desktop-version ul li a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 21px;
}
.no-flexbox main #banner-section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.no-flexbox main #banner-section img {
  display: inline-block;
}
.no-flexbox main #banner-section div {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
}
.no-flexbox main #promotion-section {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.no-flexbox main #promotion-aside {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
}
.no-flexbox main #promotion-aside article {
  height: 176px;
}
.no-flexbox main #promotion-aside article a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 200px;
}
.no-flexbox main #promotion-aside article a img {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 180px;
  max-width: 180px;
}
.no-flexbox main #promotion-aside article div {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
}
.no-flexbox main #promotion-aside article div a {
  width: 100%;
}
.no-flexbox main #course-section {
  text-align: center;
}
.no-flexbox main #course-section #course-container .row {
  height: 350px;
  margin-bottom: 16px;
}
.no-flexbox main #course-section #course-container .row a {
  display: inline-block;
  height: 100%;
  margin: 0 16px;
}
.no-flexbox main #course-section #course-container .row a article {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  height: 100%;
  text-align: left;
}
.no-flexbox main #course-section #course-container .row a article h3 {
  padding: 0 0 0 16px;
}
.no-flexbox main #course-section #course-container .row a article p {
  padding: 16px 0 16px 16px;
}
.no-flexbox main #course-section #course-container .row a article p span {
  padding: 0;
}
.no-flexbox main #end-section #end-container div {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.no-flexbox main #end-section #end-container aside {
  display: inline-block;
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.no-flexbox main #end-section #end-container aside div {
  display: inline-block;
  float: right;
}
.no-flexbox footer {
  border-top: none;
}
.no-flexbox footer span {
  margin-bottom: 8px;
  display: inline-block;
}
.no-flexbox footer ul {
  margin: 0;
}
.no-flexbox footer ul li {
  display: inline-block;
  margin-left: 0;
  margin-right: 16px;
}

@media only screen and (max-width: 855px) {
  .no-flexbox header p {
    display: none;
  }
  .no-flexbox header .desktop-version {
    display: none;
  }
  .no-flexbox header .mobile-version {
    display: inline-block;
    float: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .no-flexbox header .mobile-version a {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 31%;
  }
  .no-flexbox header a img {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 35%;
  }
  .no-flexbox header #logo {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .no-flexbox main #promotion-section {
    display: none;
  }
  .no-flexbox main #promotion-aside article {
    height: auto;
    max-height: none;
    display: inline-block;
    width: 100%;
  }
  .no-flexbox main #promotion-aside article a {
    max-height: none;
  }
  .no-flexbox main #promotion-aside article a img {
    max-width: none;
    max-height: none;
  }
  .no-flexbox main #course-section {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .no-flexbox main #course-section #course-container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .no-flexbox main #course-section #course-container .row {
    height: auto;
    margin-bottom: 0;
  }
  .no-flexbox main #course-section #course-container .row a {
    height: 100px;
    margin-bottom: 16px;
    margin-left: 0;
  }
  .no-flexbox main #course-section #course-container .row a article h3 {
    margin-top: 36px;
    margin-left: 16px;
  }
  .no-flexbox main #end-section {
    text-align: center;
  }
  .no-flexbox main #end-section #end-container aside {
    display: none;
  }
}
/* no-rem */
.no-cssremunit .halfsection {
  padding: 32px 24px;
}
.no-cssremunit header {
  height: 64px;
  padding: 0 8px 0 24px;
}
.no-cssremunit header p {
  font-size: 24px;
}
.no-cssremunit header .desktop-version ul li {
  font-size: 22px;
}
.no-cssremunit header .desktop-version ul li a {
  padding: 0 16px;
}
.no-cssremunit main #banner-section {
  padding: 40px 32px;
}
.no-cssremunit main #banner-section div {
  padding-left: 32px;
}
.no-cssremunit main #banner-section div h1 {
  font-size: 48px;
  padding-bottom: 16px;
}
.no-cssremunit main #banner-section div p {
  font-size: 32px;
  padding-bottom: 16px;
}
.no-cssremunit main #banner-section div span {
  font-size: 24px;
}
.no-cssremunit main #promotion-section h2 {
  font-size: 40px;
  padding: 32px 0 24px 0;
}
.no-cssremunit main #promotion-section .author {
  padding: 24px 0 32px 0;
}
.no-cssremunit main #promotion-aside {
  padding-bottom: 32px;
}
.no-cssremunit main #promotion-aside article {
  padding: 32px 0 16px 16px;
}
.no-cssremunit main #promotion-aside article div {
  padding-left: 24px;
}
.no-cssremunit main #promotion-aside article div h3 {
  font-size: 24px;
}
.no-cssremunit main #promotion-aside article div p, .no-cssremunit main #promotion-aside article div a {
  padding-top: 12px;
}
.no-cssremunit main #promotion-aside #article-2, .no-cssremunit main #promotion-aside #article-3 {
  padding: 16px 0 16px 16px;
}
.no-cssremunit main #course-section h2 {
  font-size: 40px;
  padding: 32px;
}
.no-cssremunit main #course-section #course-container {
  padding: 0 64px 32px 64px;
}
.no-cssremunit main #course-section #course-container .row {
  margin-bottom: 16px;
}
.no-cssremunit main #course-section #course-container .row a article h3 {
  font-size: 24px;
  padding: 16px 0 8px 16px;
}
.no-cssremunit main #course-section #course-container .row a article p {
  padding: 0 0 24px 16px;
}
.no-cssremunit main #course-section #course-container .row a article p span {
  padding-bottom: 8px;
}
.no-cssremunit main #end-section h2 {
  font-size: 40px;
  padding: 32px;
}
.no-cssremunit main #end-section #end-container {
  padding-bottom: 32px;
}
.no-cssremunit main #end-section #end-container div {
  padding-left: 24px;
}
.no-cssremunit main #end-section #end-container div video {
  padding-bottom: 24px;
}
.no-cssremunit main #end-section #end-container div h3 {
  font-size: 24px;
  padding-bottom: 16px;
}
.no-cssremunit main #end-section #end-container aside {
  padding-left: 24px;
}
.no-cssremunit main #end-section #end-container aside article {
  padding: 16px 0 16px 16px;
}
.no-cssremunit footer {
  padding: 16px 24px 80px 24px;
  font-size: 14px;
}
.no-cssremunit footer ul li {
  margin-left: 16px;
}

@media only screen and (max-width: 855px) {
  .no-cssremunit main #banner-section div {
    padding: 32px 16px;
  }
  .no-cssremunit main #banner-section div h1 {
    padding-bottom: 32px;
  }
  .no-cssremunit main #banner-section div p {
    padding-bottom: 24px;
  }
  .no-cssremunit main #promotion-aside {
    padding: 16px 16px 32px 16px;
  }
  .no-cssremunit main #promotion-aside article div {
    padding: 32px 16px;
  }
  .no-cssremunit main #course-section h2 {
    padding: 32px 0 0 0;
  }
  .no-cssremunit main #course-section #course-container {
    padding: 16px 16px 32px 16px;
  }
  .no-cssremunit main #course-section #course-container .row a article {
    margin-bottom: 8px;
  }
  .no-cssremunit main #course-section #course-container .row a article h3 {
    padding: 32px 16px;
  }
  .no-cssremunit main #end-section h2 {
    padding: 32px 0 16px 0;
  }
  .no-cssremunit footer {
    padding: 16px 0 32px 0;
  }
}
